<div>
  <%= person_counter %>.
  <b>Gender:</b> <%= person.gender.capitalize %> -
  <b>Height:</b> <%= person.height %> ft. -
  <b>Weight:</b> <%= person.weight %> lbs.
  <%= link_to 'edit', edit_person_path(person),  remote: true %> |
  <%= link_to 'delete', person, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } %>
</div>